// Custom Theming for Angular Material
@import "~@angular/material/theming";

// Include the common styles for Angular Material.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes
$sa-primary: mat-palette($mat-blue, A400);
$sa-accent: mat-palette($mat-pink, A200, A100, A400);
$sa-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$sa-theme: mat-light-theme($sa-primary, $sa-accent, $sa-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($sa-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}
